

# Spark ((bitnami/spark 3.5) 
pyspark==3.5.3

# Data handling 
pandas==2.2.2
numpy==1.26.4
openpyxl==3.1.5         
xlrd==2.0.1              

# Source extraction 
ucimlrepo==0.0.7          
fredapi==0.5.2           
requests==2.32.3

#  Synthetic augmentation (CTGAN) 
sdv==1.17.1               

# Kafka producers / consumers 
kafka-python==2.0.2

# Hive client (query HiveServer2 from Python; optional)
pyhive==0.7.0
thrift==0.20.0
thrift-sasl==0.4.3

# Utilities 
python-dotenv==1.0.1      
scikit-learn==1.5.2      
psutil==5.9.8           
tabulate==0.9.0           
